html, body {
    padding:0; 
    margin:0;
    background-image: url("../IMG/BackgroundOverlay2.png");
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;

}

body {
    background-color: whitesmoke;
    font-family:Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

li {
    padding:3px;
}


p {
    color:white;
    margin-left:20px;
}

.leftEdge {
    border-left-width: 3.5px;
}

.rightEdge {
    border-right-width: 3.5px;
}

.topEdge {
    border-top-width: 3.5px;
}

.topBorderEdge {
    border-top-width: 5px;
}

.bottomBorderEdge {
    border-bottom-width: 5px;
}

.rightBorderEdge {
    border-right-width: 5px;
}

.leftBorderEdge {
    border-left-width: 5px;
}

.sudokuGameGrid {
    background-color: whitesmoke;
    width: 550px;
    height: 550px;
    margin: auto;
    margin-bottom: 80px;
}

#sudokuGameTable {
    width: 100%;
}


#idNum1 {
    padding: 20px;
    width: 50em;
    margin: auto;
}

#idNum2 {
    margin-left: auto;
    width: 50%;
    margin-top: 4em;
    position: relative;
    float: right;
}

#idNum3 {
    margin-left: auto;
    width: 50%;
    margin-top: 1em;
    position: relative;
    float: left;
    height: 20.5em;
    
}

.content {
    margin-top: 5em;
}

#sudoku {
    margin: auto;
    display: block;
    width: 80%;
    padding: 5px;
    border: 1px solid black;
    outline-color: darkgray;
    outline-style: groove;
}

.PageDiv {
    margin: 100px;
    background: gray;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.PageDiv2 {
    margin: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    width: 50em;
    margin: auto;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(32,32,32,.1));
}

.PageDiv3 {
    margin: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
    background: gray;
    padding-bottom: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    width: 50em;
    margin: auto;
}



.ExtraPadding {
    padding-bottom: 1em;
}

.pageHeader {
    position: fixed;
    background-image: url("../IMG/HeaderBackgd.png");
    text-align: center;
    width: 100%;
    border-bottom: 1px solid black;
    z-index: 1;
}

#titleStyle {
    padding-bottom: 5px;
    margin-left: 50px;
    font-size: 60%;
    color: white;
}

.numberOptions {
    margin: 25px;
    margin-left: 50px;
    width: 100%;
    }

.button1 {
    border-radius: 12px;
    color: darkgrey;
    border: 2px solid black;
    font-size: 15px;
    width: 40px;
    height: 40px;
    text-align: center;
    color: black;
    display: inline-block;
    transition-duration: 0.5s;
}

.button1:hover {
    background-color: #069310; /* Green */
    color: white;
}

.buttonClicked {
    background-color: #069310; /* Green */
    color: white;
    border: 3px solid black;
    border-radius: 12px;
    font-size: 15px;
    width: 40px;
    height: 40px;
    text-align: center;
    display: inline-block;
    transition-duration: 0.5s;
}

#sameNumberHighlight {
    color: white;
    text-shadow: 5px 5px 5px #069310;
}

#hintButton {
    border-radius: 12px;
    color: darkgrey;
    border: 2px solid black;
    font-size: 15px;
    font-weight: bold;
    height: 40px;
    width: 100px;
    text-align: center;
    color: black;
    display: inline-block;
    transition-duration: 0.5s;
}

.linkButton {
    border-radius: 12px;
    color: darkgrey;
    border: 2px solid black;
    font-size: 15px;
    font-weight: bold;
    height: 40px;
    text-align: center;
    color: black;
    display: inline-block;
    transition-duration: 0.5s;
}

.linkButton:hover {
    background-color: #069310; /* Green */
    color: white;
}

a {
    text-decoration: none;
}

.pageBackDiv {
    width: 50%;
}

.pageBackDiv2 {
    width: 50%;
}

.middleChunk {
    margin-left: auto;
    margin-right: auto;
    
}

#middleChunkTable {
    width: 100%;
}

.blackText {
    color: black;
}

#imgContainer {
    position: absolute;
    width: 800px;
    height: 250px;
}

#otherStuff {
    margin-top: 19em;
}

.objectIMG {
    position: relative;
    display: inline;
    width: 45%;
    height: 100%;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 1.8em;
}

.slightlyBolder {
    font-weight: 500 !important;
}



