/*CSS for all of the Assignment Webpages, index.html, checkpoint.html, etc */

html, body {
    padding:0; 
    margin:0;
    background-image: url("../IMG/BackgroundOverlay3.png");
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;

}

body {
    background-color: whitesmoke;
    font-family:Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

li {
    padding:3px;
}


p {
    color:white;
    margin-left:20px;
}

.leftEdge {
    border-left-width: 3.5px;
}

.rightEdge {
    border-right-width: 3.5px;
}

.topEdge {
    border-top-width: 3.5px;
}

.topBorderEdge {
    border-top-width: 5px;
}

.bottomBorderEdge {
    border-bottom-width: 5px;
}

.rightBorderEdge {
    border-right-width: 5px;
}

.leftBorderEdge {
    border-left-width: 5px;
}

.sudokuGameGrid {
    background-color: whitesmoke;
    width: 550px;
    height: 550px;
    margin: auto;
    margin-bottom: 80px;
}

#sudokuGameTable {
    width: 100%;
}


#idNum1 {
    padding: 20px;
    width: 50em;
    margin: auto;
}

#idNum2 {
    margin-left: auto;
    width: 50%;
    margin-top: 4em;
    position: relative;
    float: right;
}

#idNum3 {
    margin-left: auto;
    width: 50%;
    margin-top: 1em;
    position: relative;
    float: left;
    height: 20.5em;
    
}

.content {
    margin-top: 5em;
}

#sudoku {
    margin: auto;
    display: block;
    width: 80%;
    padding: 5px;
    border: 1px solid black;
    outline-color: darkgray;
    outline-style: groove;
}

.PageDiv {
    margin: 100px;
    background: gray;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.PageDiv2 {
    margin: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    width: 50em;
    margin: auto;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.7), rgba(32,32,32,.2));
}

.PageDiv3 {
    margin: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
    background: gray;
    padding-bottom: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    width: 50em;
    margin: auto;
}

#docDiv3 {
    padding-top: 100px;
}

.PageDiv4 {
    margin-top: 9em;
    margin-left:1em;
    background-color: white;
    background-blend-mode: darken;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    width: 10em;
    float: right;
    z-index; 1;
    align-self: center;
    vertical-align: middle;
    opacity: .6;
    border-radius: 10px;
    
}

.PageDiv4:hover {
    margin-top: 9em;
    margin-left:1em;
    background-color: white;
    background-blend-mode: darken;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    width: 10em;
    float: right;
    z-index; 1;
    align-self: center;
    vertical-align: middle;
    opacity: .9;
    border-radius: 10px;
}


.ExtraPadding {
    padding-bottom: 1em;
}

.pageHeader {
    position: fixed;
    background-image: url("../IMG/HeaderBackgd.png");
    text-align: center;
    width: 100%;
    border-bottom: 1px solid black;
    z-index: 1;
}

#titleStyle {
    padding-bottom: 5px;
    margin-left: 50px;
    font-size: 60%;
    color: white;
}

.numberOptions {
    margin: 25px;
    margin-left: 50px;
    width: 100%;
    }

.button1 {
    border-radius: 12px;
    color: darkgrey;
    border: 2px solid black;
    font-size: 15px;
    width: 40px;
    height: 40px;
    text-align: center;
    color: black;
    display: inline-block;
    transition-duration: 0.5s;
}

.button1:hover {
    background-color: #069310; /* Green */
    color: white;
}

.buttonClicked {
    background-color: #069310; /* Green */
    color: white;
    border: 3px solid black;
    border-radius: 12px;
    font-size: 15px;
    width: 40px;
    height: 40px;
    text-align: center;
    display: inline-block;
    transition-duration: 0.5s;
}

#sameNumberHighlight {
    color: white;
    text-shadow: 5px 5px 5px #069310;
}

#hintButton {
    border-radius: 12px;
    color: darkgrey;
    border: 2px solid black;
    font-size: 15px;
    font-weight: bold;
    height: 40px;
    width: 100px;
    text-align: center;
    color: black;
    display: inline-block;
    transition-duration: 0.5s;
}

.linkButton {
    border-radius: 12px;
    color: darkgrey;
    border: 2px solid black;
    font-size: 15px;
    font-weight: bold;
    height: 40px;
    text-align: center;
    color: black;
    display: inline-block;
    transition-duration: 0.5s;
}

.linkButton:hover {
    background-color: #069310; /* Green */
    color: white;
}

a {
    text-decoration: none;
}

.pageBackDiv {
    width: 50%;
}

.pageBackDiv2 {
    width: 50%;
}

.middleChunk {
    margin-left: auto;
    margin-right: auto;
    
}

#middleChunkTable {
    width: 100%;
}

.blackText {
    color: black;
}

#imgContainer {
    position: absolute;
    width: 800px;
    height: 250px;
}

#otherStuff {
    margin-top: 19em;
}

.objectIMG {
    position: relative;
    display: inline;
    width: 45%;
    height: 100%;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 1.8em;
}

.slightlyBolder {
    font-weight: 500 !important;
}

.settingsMenu {
    position: relative;
    display: inline-block;
    float: left;
    cursor: pointer;
}

.settingsMenu:hover .settingsMenuContent {
    display: block;
}

.settingsMenuContent {
    display: none;
    position: absolute;
    top: 40px;
    background-color: gray;
    border-radius: 5px;
    border: 2px solid black;
    width: 260px;
    box-shadow: 6px 6px 6px 0px rgba(0,0,0,0.2);
    background: linear-gradient(to right, rgba(86, 86, 86, 1), rgb(171, 170, 170));
    padding: 15px;
    margin-top: 0px;
    z-index: 1;
}

.settingsMenu:hover .settingsMenuContent {
    display: block;
}

#gameOpt {
    margin-top: 5px;
    margin-left: 0px;
    font-weight: bolder;
    color: black;
    
}

.opt {
    margin-bottom: 10px;
    margin-left: 5px;
}

input {
    height: 20px;
    width: 20px;
    padding-left: 5px;
}

#relC {
    position: relative;
}

#tInput {
    color: gray;
    width: 200px;
    margin-bottom: 12px;
    margin-left: 5px;
    font-size: 15px;
}

#pInput {
    width: 200px;
    margin-bottom: 12px;
    margin-left: 5px;
    font-size: 20px;
}

#login {
    width: 50px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid black;
    margin-right: 2px;
    margin-top:10px;
    cursor: pointer;
}

#cancel {
    width: 60px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid black;
    cursor: pointer;
}

.boldish {
    font-weight: 600;
}

#loginButtons {
    display: inline;
    float: left;
}

#errorMsg {
    width: 100%;
    float: left;
    color: darkred;
}

#docHeader {
    position: fixed;
    background: linear-gradient(to bottom, #09b515, rgba(95, 101, 96, 0.1));
    margin-top: 0px;
    text-align: center;
    width: 100%;
    background-color:#0a4b01;
    border-bottom: 3px solid black;
    z-index: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#homeBt {
    width: 40px;
    float: left;
    padding-top: 15px;
    padding-left: 15px;
    position: relative;
}

.black {
    color: black;
}

.green {
    color: green;
}

.slightlyBig {
    font-size: 20px;
}

#doc {
    
}

